<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
</head>

<body>

<h1>Admin Dashboard</h1>

<a href="{{ url_for('add_flower') }}">➕ Add Flower</a>

|

<a href="{{ url_for('logout') }}">Logout</a>

<hr>

<table border="1" cellpadding="10">

<tr>

<th>ID</th>

<th>Image</th>

<th>Name</th>

<th>Price</th>

<th>Category</th>
    
<th>Subcategory</th>

<th>Action</th>

</tr>

{% for flower in flowers %}

<tr>

<td>{{ flower.id }}</td>

<td>

{% if flower.image %}

<img src="{{ url_for('static', filename='uploads/' + flower.image) }}"
     width="100">

{% endif %}

</td>

<td>{{ flower.name }}</td>

<td>₹ {{ flower.price }}</td>

<td>{{ flower.category }}</td>

<td>{{ flower.subcategory }}</td>

<td>
        <a href="{{ url_for('edit_flower', flower_id=flower.id) }}">
            ✏ Edit
        </a>
</td>
    

</tr>

{% endfor %}

</table>

</body>

</html>
